<div class="container">
    <img src="~/images/faleconosco1.jpg" alt="Contact us" />
    <div class="jumbotron">
        <h3>We want hear what you have to say.</h3>
        <p>
            If you have any questions or suggestions, please contact us
        </p>
        <p>
            <span>
                <img src="~/images/Envelope-icon24.png" />
            </span>
            <h5><email adress="ninoloth@gmail.com" content="Send e-mail"></email></h5>
            <br />
            <span>
                <img src="~/images/phone-app-icon.png" />
            </span>
            <h5>(47) 1234-5678</h5>
            <br />
            <span>
                <img src="~/images/Home-iconred.png" />
            </span>
            <h5>St. Erwin Manzke 2545</h5>
        </p>
    </div>
</div>