@model SnackListViewModel

<div>
    <h2>@Model.CurrentCategory</h2>
</div>

<div class="container">
<div class="row">

@foreach(var snack in Model.Snacks)
{
    <partial name ="_SnacksResume" for="@snack"/>
}
</div>
</div>